.parent{

}
.signInButton{
    -fx-text-fill: a3a3a3;
    -fx-background-color: 0;
}
.signInButton:hover{
    -fx-text-fill:  #7D9D9C;
    -fx-underline: true;
}

.logInButton{
    -fx-background-color: #7D9D9C;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}
.logInButton:hover{
    -fx-background-color: transparent ;
    -fx-background-radius: 5;
    -fx-text-fill: #7D9D9C;
    -fx-border-color: #7D9D9C;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}
