.parent{

}

.button{
    -fx-cursor: hand;
}

.appimage{
    -fx-background-image: url(View.jpg);
}
.defaultButton{
     -fx-border-radius: 16;
     -fx-background-radius: 16;
     -fx-background-color: #7D9D9C;
 }

.defaultPage{
    -fx-background-color: #E4DCCF;
}

.app-signInButton{
    -fx-text-fill: #00ff00;
    -fx-background-color: #0000ff;
}

.app-signInButton:hover{
    -fx-text-fill:  #7D9D9C;
    -fx-underline: true;
}

.app-logInButton{
    -fx-background-color: #7D9D9C;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}
.app-logInButton:hover{
    -fx-background-color: transparent ;
    -fx-background-radius: 5;
    -fx-text-fill: #7D9D9C;
    -fx-border-color: #7D9D9C;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}
.background-pageArea{
    -fx-background-color: #E4DCCF;
}
.background-leftArea{
    -fx-background-color: #7D9D9C;
}
.login-text-field{
    -fx-background-color: transparent;
    -fx-border-color: #7D9D9C;
    -fx-border-width: 0 0 2 0;
}
.sidebar-button{
    -fx-background-color: transparent;
}
.sidebar-background{
    -fx-background-color: #7D9D9C;
}

.sidebar-button:hover{
    -fx-background-color: #576F72;
}

.sidebar-button:focused{
    -fx-border-color: rgba(87,111,114,0.7);
    -fx-border-width: 0 0 0 10;
}

#circle{
    -fx-background-color: black;
}

.signUpButton{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.logInButton{
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-background-color: #7D9D9C;
}

