#pass{
    -fx-background-color: #E4DCCF;
    -fx-effect: dropshadow(three-pass-box,rgba(0, 0, 0, 0.25));
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#Page{
    -fx-background-color: #F0EBE3;
}

.button{
    -fx-background-color: rgba(3, 49, 209, 0.72);
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #576F72;
    -fx-border-width:0 0 0 10;
    -fx-border-color: white;
}
.text-field{
    -fx-background-radius: 16;
}